body {
	position: relative;
	margin: 0;
	padding: 0;
	max-height: 100vh;
	height: 100vh;
	max-width: 100vw;
	width: 100vw;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
#bg-img {
	width: 100vw;
	height: 100vh;
	object-fit: cover ;
	position: absolute;
	z-index: -1;
}

#weather {
	position: fixed;
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	margin-left: 1rem;
}
#weather * {
	margin: 0 .5rem;
}
#weather h3 {
	text-decoration-line: underline;
}

#todo-container {
	position: absolute;
	padding-left: 5vw;
	height: 100vh;
	width: 20vw;
	transition: 1s;
	right: -21vw;
	color: white;
	backdrop-filter: blur(5px);
	mix-blend-mode: difference;
}
#todo-container:hover {
	right: 0;
	padding-left: 1.5vw;
	display: block;
	transition: 1s;
}

#quote {
	width: 30vw;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -15vw;

	border: unset;
	border-radius: 35px 35px 0 0;
	background-color: rgba(0,0,0,.3);
	/*background: ;*/
	text-align: center;
	mix-blend-mode: difference;
}
#quote-body {
	margin-bottom: 5px;
}
#quote-body span {
	display: inline-block;
	margin-bottom: 5px;
}

/* Toggled classes */
.stricken {
	text-decoration: line-through;
}

@media screen and (max-width:800px) {
	#quote {
		width: 100%;
		margin:0;
		left: unset;
		border-radius: unset;
	}
}